body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  width: 350px;
  text-align: center;
}

h1 {
  color: #2b5876;
  font-size: 22px;
  margin-bottom: 15px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  transition: 0.3s;
}

input:focus {
  border-color: #2b5876;
  outline: none;
  box-shadow: 0 0 5px #2b5876;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2b5876;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #4e4376;
}

p {
  background: #f5f5f5;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
}

.highlight {
  background: #e3f2fd;
  color: #0d47a1;
}
/* ==== */
.input-group {
  position: relative;
  width: 250px;
  margin: 20px 0;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
}

/* Label default position */
.input-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #777;
  font-size: 14px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.3s ease;
  background: #fff;
  padding: 0 5px;
}

